#card-flip {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
             env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.flashCard-wrapper {
    margin-top: 32px;
    justify-self: center;
    align-self: center;
    width: 90%;
    aspect-ratio: 4/5;
    position: relative;
    perspective: 800px;
    cursor: pointer;
    touch-action: pan-y; /* allow vertical scrolling but detect horizontal swipe */
}

.flashCard-flip {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.3, 0.8, 0.2, 1.3);
    border-radius: 16px;
    background: transparent;
}

.flashCard-flip-front,
.flashCard-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    font-size: .0.8rem;
    padding: 8px;
    color: var(--text-color);
    background: var(--secondary-color);
    box-shadow: var(--shadow-s);
    transition: filter 0.8s ease;
}

.card-image {
    min-width: 90%;
    min-height: 50%;
    
    border-radius: 16px !important;
    object-fit: contain;
    box-shadow: var(--shadow-s);
}

.flashCard-flip-back {
    transform: rotateY(180deg);
}

.flashCard-wrapper.flipped .flashCard-flip {
    transform: rotateY(180deg);
}

/* Optional: swipe feedback */
.flashCard-wrapper.swipe-right {
    transform: translateX(200px) rotate(15deg);
    transition: transform 0.3s ease-out;
}

.flashCard-wrapper.swipe-left {
    transform: translateX(-200px) rotate(-15deg);
    transition: transform 0.3s ease-out;
}


.card-selection {
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
}
.card-buttons {
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 5/2;
    border-radius: 16px;
    outline: none;
    border: none;
    margin: 16px 0;
    background: var(--secondary-color);
    color: var(--text-color);
    box-shadow: var(--shadow-s);
    transition: transform 0.2s ease-out;

}
.card-buttons:hover {
    transform: translateY(-8px);
    box-shadow: var(--shadow-l);
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.bnt {
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 32px;
    background: var(--basement-color);
    color: var(--text-color);
    box-shadow: var(--shadow-s);
}

.flashCard-wrapper {
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.flashCard-wrapper.drag-right {
    box-shadow:
        0 0 1px rgba(0, 255, 120, 0.2),
        20px 0 40px rgba(0, 255, 120, 0.4);
}

.flashCard-wrapper.drag-left {
    box-shadow:
        0 0 1px rgba(255, 60, 60, 0.2),
        -20px 0 40px rgba(255, 60, 60, 0.4);
}

.flashCard-wrapper::before {
    content: "";
    position: absolute;
    inset: -20px;
    border-radius: 32px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
    z-index: 2;
    filter: blur(80px);
}

.flashCard-wrapper.drag-right::before {
    opacity: 0.4;
    background: linear-gradient(90deg,
        rgba(0, 0, 0, 0),
        rgba(0, 255, 120, 0.5)
    );
}

.flashCard-wrapper.drag-left::before {
    opacity: 0.4;
    background: linear-gradient(-90deg,
        rgba(0, 0, 0, 0),
        rgba(255, 60, 60, 0.5)
    );
}

.card-progress {
    position: relative;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    
    padding: 6px 14px;
    border-radius: 16px;
    text-align: center;

    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.5px;

    background: var(--basement-color);
    backdrop-filter: blur(10px);
    color: var(--text-color);

    box-shadow: var(--shadow-s);
    z-index: 5;
}
